
<div class="uk-cover-container  ">
  <div class="uk-section ">
    <div class="uk-position-center">
    <%= image_tag "dashbord.png" %>
    </div>
  </div>

</div>
<h1 class="uk-flex uk-flex-center">Hello, world!</h1>

